@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;


a:visited {
    color: inherit;
}

footer {
    background: $clr-primary-3;
    color: $text-color;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    

    .contactContainer {
        margin: 0px 10rem;
        color: $text-color;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        h3 {
            font-size: 2rem;
            text-align: center;
        }

        button {
            color: $button-text-color;
            background: $button-color;
            border-radius: $radius;
            width: 3rem;
            height: 1.5rem;
        }
    }

    .footerContainer {
        margin: 0px 10rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;

        li {
            list-style-type: none;

            a {

                &:visited {
                    color: $text-color;
                }
            }
        }
    }

    .addressContainer {
        margin: 0px 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@include tablet {
    footer {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap;
        height: auto;
    }
    .contactContainer {
        margin: 15px;
    }
}