@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
}

.root {
    min-height: 100vh;
}