*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  box-sizing: inherit;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
h2,
h3,
h4 {
    line-height: 1;
  }
}
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #999999;
  color: #262626;
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  color: #e6e6e6;
}

a:visited {
  color: inherit;
}

.navbar {
  background: #414141;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.navbar .nav-header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0.25rem 1rem;
  z-index: 23021938102983098000000000;
}
.navbar .nav-header.active {
  border-bottom: 3px solid #ca1c1c;
}
.navbar .nav-toggle {
  font-size: 1.5rem;
  color: #ca1c1c;
  background: transparent;
  border-color: transparent;
  transition: all 0.5s linear;
  cursor: pointer;
}
.navbar .nav-toggle.rotate {
  transform: rotate(90deg);
}
.navbar .logo {
  height: 70px;
  display: flex;
  justify-content: left;
}
.navbar .links-container {
  width: 100%;
  position: absolute;
  z-index: 100;
  height: 0;
  overflow: hidden;
  background: #414141;
  text-align: center;
}
.navbar .links-container .active {
  text-decoration: underline;
}
.navbar .links-container.show {
  height: auto;
  padding-bottom: 1rem;
}
.navbar .links li {
  color: #e6e6e6;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.5s linear;
  position: relative;
}
.navbar .links li:hover {
  background: #8c8c8c;
  color: #414141;
  padding-left: 1.5rem;
}
.navbar .links li:hover::after {
  width: 100%;
}
.navbar .links li::after {
  content: "";
  display: block;
  positoin: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #404040;
  transition: 0.3s ease all;
}
.navbar .links li a:visited {
  color: #e6e6e6;
}
.navbar .social-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  height: 0;
  overflow: hidden;
}
.navbar .social-icons li {
  margin: 0.5rem 1rem;
}
.navbar .social-icons.show {
  height: auto;
}

@media only screen and (min-width: 768px) {
  .navbar {
    max-width: 100vw;
    height: 12vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .navbar .nav-header {
    padding: 0;
    width: 20%;
    display: block;
  }
  .navbar .nav-header .logo {
    display: 40px;
    width: 100px;
    height: 100%;
  }
  .navbar .nav-header .nav-toggle {
    display: none;
  }
  .navbar .links-container {
    width: 20vw;
    height: auto;
    position: relative;
  }
  .navbar .links-container .links {
    display: flex;
  }
  .navbar .links-container .links li {
    padding: 0;
    margin: 0 0.5rem;
  }
  .navbar .links-container .links li:hover {
    padding: 0;
    background: transparent;
  }
  .navbar .social-icons {
    display: flex;
  }
  .navbar .social-icons a {
    margin: 0 0.5rem;
    color: #e33535;
    transition: all 0.5s linear;
  }
  .navbar .social-icons a:hover {
    color: #ef8a8a;
  }
}
a:visited {
  color: inherit;
}

footer {
  background: #333333;
  color: #e6e6e6;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
footer .contactContainer {
  margin: 0px 10rem;
  color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
footer .contactContainer h3 {
  font-size: 2rem;
  text-align: center;
}
footer .contactContainer button {
  color: #333333;
  background: #6abf40;
  border-radius: 0.25rem;
  width: 3rem;
  height: 1.5rem;
}
footer .footerContainer {
  margin: 0px 10rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
footer .footerContainer li {
  list-style-type: none;
}
footer .footerContainer li a:visited {
  color: #e6e6e6;
}
footer .addressContainer {
  margin: 0px 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  footer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    height: auto;
  }

  .contactContainer {
    margin: 15px;
  }
}
html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  color: black;
  min-height: 100vh;
}
main .container {
  width: 90vw;
  max-width: 920px;
  display: grid;
  margin: 5rem auto;
  grid-gap: 1rem 2rem;
  background: white;
  padding: 2.5rem 2rem;
  border-radius: 0.25rem;
}
main .container h3 {
  font-weight: 500;
}
main .container .questions article {
  padding: 1rem 1.6rem;
  border: 2px solid #333333;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
main .container .questions article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .container .questions article header h4 {
  font-weight: 700;
  width: 80%;
  margin: 0;
}
main .container .questions article header .btn {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  background-color: #1fa8e7;
  border-color: transparent;
  font-size: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 990px) {
  .container {
    grid-template-columns: 250px 1fr;
  }
}
h1 {
  text-align: center;
}

.about-img {
  display: inline-block;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 3px solid deepskyblue;
}

.img-center {
  display: flex;
  margin: 15px;
  justify-content: center;
  flex-wrap: wrap;
}
.img-center h4 {
  text-align: center;
  width: 50%;
  padding: 5px 15px;
  height: auto;
}

.certs h3 {
  text-align: center;
}
.certs .cert-con {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.certs .cert {
  width: 300px;
  height: 250px;
  background-color: #704035;
  margin: 15px;
  border-radius: 50px;
  color: white;
}
.certs .cert:hover {
  transition: all 0.5s linear;
  background-color: #F28972;
  padding: 0px;
  box-shadow: 5px 5px 10px grey;
}
.certs .cert h4 {
  text-align: center;
  padding: 10px;
  font-size: 18px;
}
.certs .cert .list {
  word-wrap: break-word;
  text-align: left;
  font-size: 16px;
}
.certs .cert .list ul {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
.certs .cert .list ul li {
  width: 100%;
  margin: 3px 0px;
}

.slide .slideImages {
  display: flex;
  flex-direction: row;
  position: relative;
  transition: 1s;
  height: 30vh;
  top: -10vh;
  z-index: -10;
}
.slide .slideImages img {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 2s all ease-out;
}
.slide .slideImages img.lastSlide {
  transform: translateX(-100%);
}
.slide .slideImages img.activeSlide {
  transform: translateX(0%);
  opacity: 1;
}
.slide .slideImages img.nextSlide {
  transform: translateX(100%);
}

<<<<<<< HEAD
@media only screen and (min-width: 768px) {
  .slide {
    height: 50vh;
    width: 45vw;
    margin: 0 auto;
    overflow: hidden;
  }
  .slide .slideImages {
    height: 55vh;
    width: 45vw;
    z-index: -10;
    top: 7vh;
  }
  .slide .slideImages img {
    top: -15vh;
  }
}
@media only screen and (min-width: 768px) {
  .bottom {
    margin-bottom: 20vh;
  }
}
=======
.services {
  margin-bottom: 15rem;
  display: flex-inline;
}
.services .left {
  margin-top: 2rem;
}
.services .left h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 7px solid #ca1c1c;
  width: 65vw;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
.services .left h4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .right {
  margin-top: 3rem;
}
.services .right h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: #ca1c1c;
}
.services .right .title {
  font-weight: bold;
  width: fit-content;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.services .right h4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .right .content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}/*# sourceMappingURL=main.css.map */
>>>>>>> 3a8f9c5d49b13993fa1bcec56d7ab4aa1ac64de6
