@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.slide {
    .slideImages {
        display: flex;
        flex-direction: row;
        position: relative;
        transition: 1s;
        height: 30vh;

        img {
            position: absolute;
            opacity: 0;
            left: 0;
            top: 0;
            @include box(100%);
            transition: 2s all ease-out;
            &.lastSlide {
                transform: translateX(-100%);
            }
            &.activeSlide {
                transform: translateX(0%);
                opacity: 1;
            }
            &.nextSlide {
                transform: translateX(100%);
            }
        }
    }
}
