@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.slide {

    .slideImages {
        display: flex;
        flex-direction: row;
        position: relative;
        transition: 1s;
        height: 30vh;
        top: -10vh;
        z-index: -10;

        img {
            position: absolute;
            opacity: 0;
            left: 0;
            top: 0;
            @include box(100%);
            transition: 2s all ease-out;

            &.lastSlide {
                transform: translateX(-100%);
            }
            &.activeSlide {
                transform: translateX(0%);
                opacity: 1;
            }
            &.nextSlide {
                transform: translateX(100%);
            }
        }
    }
}

@include tablet {
    .slide {
        height: 50vh;
        width: 45vw;
        margin: 0 auto;
        overflow: hidden;

        .slideImages {
            height: 55vh;
            width: 45vw;
            z-index: -10;
            top: 7vh;

            img {
                top: -15vh;
            }
        }

        .above {
            z-index: 500;
        }

        .certs {
            z-index: 500;
        }
    }
}